<html ng-app="mySearchApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/searchStyle.css">
    </head>
    <body ng-controller="mySearchController">
        <div class="showTitle" id="title">
            <div>My Search Engine </div>
        </div>
        <span class="searchSpan" id="searchSpan">
            <input id="searchInput" type="text" placeholder="Search.." onkeyup="buttonFunc(event)">
        </span>
        <div id="searchResults" style="top: 2%; position: relative;" class="hideDiv">            
            <span style="display:flex; background-color:floralwhite" >
                <div style="padding-left:10px" id="resultsHeading" >Results for </div>
                <div style="color:blue; font-style:italic; text-align:left">- (Found {{resultCount}} {{resultCount>1?'matches':'match'}})</div>
            </span>
            <div class="resultSet">
                <div class="resultSubSet button" ng-repeat="country in allCountriesData" ng-click="goToURL(country.foundIn)">The country of {{country.country}} is situated in  {{country.continent}}. Its Capital is   {{country.capital}}.
                    <div style="padding-top:2px">The data div is at index {{country.foundIn}}. This link will open the page {{("000"+country.foundIn).substring(3)}}.html from <i> sgauch/5533/file </i> on <b> http://www.csce.uark.edu/ </b></div>
                </div>
            </div>
        </div>
        <script src="script/angular.js"></script>
        <script src="script/searchScript.js"></script>
    </body>
</html>